---
import Layout from '../layouts/Layout.astro';
import TreeMap from '../components/TreeMap.tsx';

---

<Layout title="Troop 570 Tree Pickup App">
	<main>
		<h1>Tree Pickup App</h1>
		<TreeMap client:only="react"  />
	</main>
</Layout>

<style>
	main {
		max-width: 600px;
	}
	h1 {
		text-align: center;
	}
</style>